<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 输出日志到控制台 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d 表示日期，%thread 表示线程名，%-5level表示级别从左显示5个字符宽度，%logger显示日志记录器的名称， %msg表示日志消息，%n表示换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}-%msg%n</pattern>
		</encoder>
	</appender>

	<!-- 日志输出级别 -->
    <!-- 日志开关配置 （开启日志（ALL），取消日志（OFF））-->
    <!-- 设置级别，大于等于配置的日志级别的日志才会输出，如level="info" -->
	<root level="info">
        <!-- 输出到控制台 -->
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
